
doctype html
// Description goes here
html
  head
    title Oyster World
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/css/ie9.css')
  body.landing
    // Page Wrapper
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='index.html')
            img(src='/images/slice/Oyster-World-Anchor-Small.png' alt='')
        nav#nav
          ul
            li.special
              a.menuToggle(href='#menu')
              #menu
                ul
                  li
                    a(href='index.html') Home
                  li
                    a(href='#one') Our Services
                  li
                    a(href='#two') Meet the Crew
                  li
                    a(href='#cta') Talk to An Oyster
                  li
                    a(href='#footer') Social
      // Banner
      section#banner
        .inner
          h2 Oyster World
          p
            | Learn how to travel with our travel consulting,
            br
            | 							get excited about the world with our Podcasts,
            br
            | 							explore diversity in our backyards at our monthly 
            a(href='http://www.meetup.com/Meet-Eat-by-Oyster-World/' target='_blank') Meet & Eat
            br
            |  and enjoy the Oyster experience!
          ul.actions
            li
              a.button.special.scrolly(href='#cta') Join Our World
        a.more.scrolly(href='#one') Learn More
        
        
      // One
      section#one.wrapper.style3.special
          header.major
            .image.wow.fadeIn(data-wow-duration='2s', data-wow-delay='100ms')
              img(src='/images/slice/OurServices_Header.png', alt='')
          ul.features
            li.wow.fadeInUp(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='0ms')
              img(src='/images/slice/OurServices_ME_Icon2.png', alt='')
              h1
                | Meet & Eat
              h3
                | Ethnic Cuisine
              p.meetup-section
                | Our meetup that's focused on sharing foreign foods with friends new and old. Fill-up with the diverse cuisine offerings and get a taste of the culture in your backyard.
              p.meetup-section
                img.meetup-logo(src='/images/slice/MeetupLogo.png', alt='')
                span.meetup-description
                  | Currently offered
                  br
                  | in Columbus, Ohio
              a.button.special(href='http://www.meetup.com/Meet-Eat-by-Oyster-World/') Join the Meetup
            li.wow.fadeInUp(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='100ms')
              img(src='/images/slice/OurServices_OWR_Icon2.png', alt='')
              h1
                | Oyster World
              h3
                | Radio
              p
                | We are not afraid to travel to uncharted waters in Oyster World Radio: a series of interviews, language barriers, social faux pas and political rants. Learn how travel betters lives and see one tourist's transformation into a traveller.
              a.button.special.grey(href='#') Coming soon
            li.wow.fadeInUp(data-wow-offset='30', data-wow-duration='2s', data-wow-delay='200ms')
              img(src='/images/slice/OurServices_OWC_Icon.png', alt='')
              h1
                | Oyster Travel
              h3
                | Consultants
              p
                | Not your every-day travel consultant, but rather the helm to authentic travel spots. We are dedicated to keeping you out of tourist traps and limiting the lost in translation moments of your trip with one-on-one, pre-travel guidance.
              a.button.special.grey(href='#') Coming soon
      
       
      // Two
      section#two.wrapper.alt.style2
        .inner
        header.major
          .image.wow.fadeIn(data-wow-duration='2s', data-wow-delay='100ms')
            img(src='/images/slice/AboutUs_Header_MeetTheCrew.png', alt='')
        section.spotlight
          .image
            img(src='/images/slice/Omar_profile.jpg', alt='')
          .content
            img(src='/images/slice/Omar_name.png', alt='').wow.pulse(data-wow-duration='2s', data-wow-delay='100ms')
            h2
              | Meet the CTO
            p
              | He is our Chief Technology Officer and he has no fear of saying "hi" to strangers. He tudied Materials Science Engineering and Computer Science - basically, he is an engineer that was bit by an aggressive travel-lust bug.
        section.spotlight
          .image
            img(src='/images/slice/Shannon_profile.jpg', alt='')
          .content.pullRight
            img(src='/images/slice/Shannon_name.png', alt='').wow.pulse(data-wow-duration='2s', data-wow-delay='100ms')
            h2
              | Meet the CMO
            p
              | She is our Chief Marketing Officer because she studied Visual Communication Design. She deserves a high-five for all the creative bits of your Oyster experience. She's also not sure how she feels about narcissisticks, but groupies are pretty great.'
        section.spotlight
          .image
            img(src='/images/slice/Nate_profile.jpg', alt='')
          .content
            img(src='/images/slice/Nate_name.png', alt='').wow.pulse(data-wow-duration='2s', data-wow-delay='100ms')
            h2
              | Meet the CEO
            p
              | He is our Chief Executive Officer, aka Chief Ginormous Boss. He studied Mechanical Engineering with and Enterpreneurship minor, which got him ready to do some fancy facilitating behind the scenes. Also, his voice is so low rumor has it he speaks whale.

      // Three       
      
      // CTA
      section#cta.wrapper.style4
        .inner
          header.major
            .image.wow.fadeIn(data-wow-duration='2s', data-wow-delay='100ms')
              img(src='/images/slice/Talk-to-an-Oyster.png', alt='')
            p.wow.fadeInUp(data-wow-offset='40', data-wow-duration='2s', data-wow-delay='100ms')
              | For more information about our services, what's coming down our pipeline, or any travel needs please contact us below.
            form(action='/contact', name='contactus', id='contactus', method='post')
                input(type='text', placeholder='FIRST NAME', required='', autocomplete='off').wow.fadeInUp(data-wow-offset='40', data-wow-duration='1s', data-wow-delay='200ms')
                input(type='text', placeholder='LAST NAME', required='', autocomplete='off').wow.fadeInUp(data-wow-offset='40', data-wow-duration='1s', data-wow-delay='200ms')
                input(type='email', placeholder='EMAIL', required='', autocomplete='off').wow.fadeInUp(data-wow-offset='40', data-wow-duration='1s', data-wow-delay='300ms')
                textarea(rows='4', placeholder='WHAT CAN WE HELP YOU WITH? (OPTIONAL)').wow.fadeInUp(data-wow-offset='40', data-wow-duration='1s', data-wow-delay='300ms')
                input.button.fit.special(type='submit', name='submit', value='SUBMIT').wow.fadeInUp(data-wow-offset='40', data-wow-duration='1s', data-wow-delay='400ms')
              // ul.actions.vertical
              //   li
              //     a.button.fit.special(type='submit') Submit
      // Footer
      footer#footer
        ul.icons
          li
            a.icon.fa-twitter(href='https://twitter.com/NathanOyster')
              span.label Twitter
          li
            a.icon.fa-facebook(href='https://www.facebook.com/oysteryourworld/')
              span.label Facebook
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-envelope-o(href='mailto:nathan@oysteryourworld.com')
              span.label Email
        ul.copyright
          li © 2015 Oyster World, LLC 
            a(href='') Term of Use
          li
            | 
            a(href='') Privacy Policy
    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.scrollex.min.js')
    script(src='/js/jquery.scrolly.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/util.js')
    script(src='/js/wow.min.js')
    
    //if lte IE 8
      script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')
    script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')


