
doctype html
// Description goes here
html
  head
    title Oyster World
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/animate.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='/css/ie9.css')
  body.landing
    // Page Wrapper
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='index.html') Oyster World
        nav#nav
          ul
            li.special
              a.menuToggle(href='#menu')
                span Menu
              #menu
                ul
                  li
                    a(href='index.html') Home
                  li
                    a(href='about.html') About
                  li
                    a(href='elements.html') Elements
                  li
                    a(href='#') Sign Up
                  li
                    a(href='#') Log In
      // Banner
      section#banner
        .inner
          h2 Oyster World
          p
            | Learn how to travel with our travel consulting,
            br
            | 							get excited about the world with our Podcasts,
            br
            | 							explore diversity in our backyards at our monthly 
            a(href='http://www.meetup.com/Meet-Eat-by-Oyster-World/') Meet & Eats
            br
            |  and enjoy the Oyster experience!
          ul.actions
            li
              a.button.special(href='#') Find Out More
        a.more.scrolly(href='#one') Learn More
        
        
      // Three
      section#three.wrapper.style3.special
          header.major
            .image
              img(src='/images/slice/desktop/OurServices_Header.png', alt='')
          ul.features
            li.icon
              img(src='/images/slice/desktop/OurServices_ME_Icon2.png', alt='')
              img(src='/images/slice/desktop/OurServices_ME_Header2.png', alt='')
              p
                | Our meetup that's focused on sharing foreign foods with friends new and old. Fill-up with the diverse cuisine offerings and get a taste of the culture in your backyard.
              img(src='/images/slice/desktop/OurServices_Meetup_ColumbusWarning.png', alt='')
              a.button.special(href='#') Join the Meetup
            li.icon
              img(src='/images/slice/desktop/OurServices_OWR_Icon2.png', alt='')
              img(src='/images/slice/desktop/OurServices_OWR_Header2.png', alt='')
              p
                | We are not afraid to travel to uncharted waters in Oyster World Radio: a series of interviews, language barriers, social faux pas and political rants. Learn how travel betters lives and see one tourist's transformation into a traveller.
              a.button.special(href='#') Coming soon
            li.icon
              img(src='/images/slice/desktop/OurServices_OC_Icon2.png', alt='')
              img(src='/images/slice/desktop/OurServices_OC_Header2.png', alt='')
              p
                | Not your every-day travel consultant, but rather the helm to authentic travel spots. We are dedicated to keeping you out of tourist traps and limiting the lost in translation moments of your trip with one-on-one, pre-travel guidance.
              a.button.special(href='#') Coming soon
      
       
      // Two
      section#two.wrapper.alt.style2
        .inner
        section.spotlight
          .image
            img(src='/images/slice/Archive/Omar.jpg', alt='')
          .content
            h2
              | Magna primis lobortis
              br
              | 								sed ullamcorper
            p
              | Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
        section.spotlight
          .image
            img(src='/images/slice/Archive/Shannon.jpg', alt='')
          .content
            h2
              | Tortor dolore feugiat
              br
              | 								elementum magna
            p
              | Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
        section.spotlight
          .image
            img(src='/images/slice/Archive/Nate.jpg', alt='')
          .content
            h2
              | Augue eleifend aliquet
              br
              | 								sed condimentum
            p
              | Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.

      // One       
      
      // CTA
      section#cta.wrapper.style4
        .inner
          header
            h2 Arcue ut vel commodo
            p
              | Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.
          ul.actions.vertical
            li
              a.button.fit.special(href='#') Activate
            li
              a.button.fit(href='#') Learn More
      // Footer
      footer#footer
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-dribbble(href='#')
              span.label Dribbble
          li
            a.icon.fa-envelope-o(href='#')
              span.label Email
        ul.copyright
          li © Untitled
          li
            | Scraper: 
            a(href='') Frying Pan
    // Scripts
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.scrollex.min.js')
    script(src='/js/jquery.scrolly.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/util.js')
    //if lte IE 8
      script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')
   script(src='/js/ie/respond.min.js')
    script(src='/js/main.js')


